name: Build and Run C Program

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install GCC
        run: sudo apt update && sudo apt install -y gcc

      - name: Compile C program
        run: gcc 2darraysum1.c -o 2darraysum1

      - name: Run C program
        run: ./2darraysum1
